body{
    background: #cbb7e3;
}
.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border-radius: 10px;
    border: 5px solid #c7e0f4;
    background: #c7e0f4;
    font-size:34px;
    height: 65px;
    width: 456px;
}

button{
    border-radius: 15px;
    border: 1px solid #187bcd;
    font-size: 25px;
    background: #c7e0f4;
    width: 103px;
    height: 90px;
    margin: 6px;
}

.calculator{ 
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 30px;
}
#equal{
    background: #0f52ba;
    color: white;
    font-size: 50px;
}
#clr{
    background: #fd405f;
    color: white;
}
#operation{
    background: #71afe5;
}


h1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
